body {
  font-family: 'Roboto', monospace;
  background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  min-height: 600px;
}

.container {
  height: 100vh;
  text-align: center;
  margin-top: 12px;
  padding: 20px;
}

h1 {
  color: #ffffff;
  margin: 0 0 5px;
  font-size: 36px;
}

.logo-imersao-dev {
  width: 150px;
}

.page-p {
  color: #ffffff;
  font-size: 24px;
  margin-top: 24px;
}

#received {
  border-radius: 5px;
  padding: 6px;
  margin-top: 4px;
}

.buttonPlay {
  margin-top: 14px;
  border-radius: 5px;
  padding: 6px 10px;
  background: #ffffff;
}

.alura-logo {
  position: absolute;
  top: 15px;
  right: 15px;
}

#endResult {
  font-size: 28px;
  color: #ffffff;
}

@media (max-height: 500px) {
  body {
    min-width: 800px;
  }
}
