body {
  font-family: 'Roboto', monospace;
  background-image: url('https://images.hdqwalls.com/download/miles-morales-pixel-art-t5-1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  text-align: center;
  margin-top: 12px;
  padding: 20px;
  background: rgb(109, 31, 139);
  background: linear-gradient(
    292deg,
    rgba(109, 31, 139, 1) 14%,
    rgba(118, 60, 193, 1) 87%
  );
  width: 450px;
  height: 300px;
  border-radius: 0 60px 0 60px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-items: center;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 42px;
}

.page-p {
  color: #ffffff;
  font-size: 28px;
  margin-top: 10px;
}

#received {
  display: flex;
  margin-top: 0;
  width: 240px;
  height: 30px;
  border-radius: 35px;
  border: none;
  outline: 0;
  padding: 0 10px;
  font-size: 16px;
}

.buttonPlay {
  border-radius: 25px;
  padding: 10px;
  width: 90px;
  outline: 0;
  border: none;
  height: 40px;
  color: #ffffff;
  background: orangered;
  font-size: 16px;
  text-align: center;
}

.buttonPlay:hover {
  background: rgb(223, 160, 223);
}

#endResult {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

#footer {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

@media (max-height: 500px) {
  body {
    min-width: 800px;
  }
}

span {
  color: purple;
}

#lifes {
  margin-top: -30px;
  color: #ffffff;
}
