* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', monospace;
  background-image: url('https://images.hdqwalls.com/download/miles-morales-pixel-art-t5-1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
}

header {
  position: absolute;
  padding: 24px;
  box-sizing: border-box;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgb(109, 31, 139);
  background: linear-gradient(
    292deg,
    rgba(109, 31, 139, 1) 14%,
    rgba(118, 60, 193, 1) 87%
  );
  width: 500px;
  height: 300px;
  border-radius: 0 60px 0 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 42px;
}

.page-p {
  color: #ffffff;
  font-size: 26px;
}

#received {
  width: 240px;
  height: 100px;
  border-radius: 35px;
  border: none;
  outline: 0;
  padding: 0 10px;
  font-size: 16px;
}

.buttonPlay {
  border-radius: 25px;
  padding: 10px;
  width: 90px;
  outline: 0;
  border: none;
  height: 40px;
  color: #ffffff;
  background: orangered;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
}

.buttonPlay:hover {
  background: rgb(223, 160, 223);
}

#endResult {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}

#footer {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}

@media (max-height: 500px) {
  body {
    min-width: 800px;
  }
}

span {
  color: purple;
}

#lifes {
  color: #ffffff;
}
